import("Matrix","HaploSim")
useDynLib(pedigree)
export("add.Inds","calcG","calcInbreeding","countOff","errors.ped",
       "blup","calcG","countGen","gblup","calcInbreeding","errors.ped",
       "makeA","makeAinv","trimPed","orderPed")
